<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>

</head>
<body>
Search: <form action="/authors/search" method="get">
  <input type="text" name="keyword">
  <input type="submit" name="search">
</form>

<form action="/authors/filter" method="get">
  name: <input type="text" name="name" th:value="${name}">
  surname: <input type="text" name="surname" th:value="${surname}"> <br>
  phone: <input type="text" name="phone" th:value="${phone}">
  gender: <select name="gender">
  <option value="">-</option>
  <option value="MALE">MALE</option>
  <option value="FEMALE">FEMALE</option>
</select>
  <input type="submit" value="filter">
</form>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>phone</th>
    <th>date of birthday</th>
    <th>gender</th>
    <th>action</th>
  </tr>

  <tr th:each="author : ${authors}">
    <td th:text="${author.getId()}"></td>
    <td th:text="${author.getName()}"></td>
    <td th:text="${author.getSurname()}"></td>
    <td th:text="${author.getPhone()}"></td>
    <td th:text="${#dates.format(author.getDateOfBirthday(), 'dd-MM-yyyy')}"></td>
    <td th:text="${author.getGender().name()}"></td>
    <td> <a th:href="@{/authors/edit(id=${author.id})}">Edit</a> | <a th:href="@{/authors/delete(id=${author.id})}">Delete</a> </td>
  </tr>
</table>
  <br>

<th:block th:include="fragment/my-fragments::footer"></th:block>

</body>
</html>
