<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragment/my-fragments::header"></th:block>
</head>
<body>
<th:block th:include="fragment/my-fragments::language"></th:block>

<div th:if="${currentUser != null}"> Hello <span th:text="${currentUser.name}"></span> <a href="/logout">Logout</a> </div><br>
<div th:if="${currentUser == null}"><span th:text="#{index.welcome}">Welcome</span> guest | <a href="/loginPage" th:text="#{index.login}"></a> </div>
<a href="/books">Books</a> <br>
<a href="/authors">Authors</a>
<a href="/users/register" th:text="#{index.register}">Register</a>

<th:block th:include="fragment/my-fragments::footer"></th:block>
</body>
</html>
