<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<th:block th:include="fragment/my-fragments::language"></th:block>

Registration

<form action="/users/register" method="post">
    Name: <input type="text" name="name"/> <br>
    Surname: <input type="text" name="surname"/> <br>
    Email: <input type="text" name="email"/> <br>
    Password: <input type="password" name="password"/> <br>
    userType: <select name="userType">
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
</select><br>
    <input type="submit" value="register">
</form>

<th:block th:include="fragment/my-fragments::footer"></th:block>

</body>
</html>
